<ion-view title="Login">
<ion-content overflow-scroll="true" padding="true" class="has-header">
  <form class="list">
    <ion-list>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password" value="admin">
      </label>
  </ion-list>
    <div class="spacer" style="height: 40px;"></div>
    <button id="login-button1" class="button button-stable  button-block" ng-click="login(username,password)">Log in</button>
    <button href="#/signup" id="login-button2" style="color:#14278F;" class="button button-stable  button-block button-clear">Or create an account</button>
  </form>
</ion-content>
</ion-view>